.panel-description {
  flex: 1;
  background-color: #fff;
  line-height: 1.5em;
}
.job-description-wrapper {
  padding: 10px 20px;
  height: calc(100vh - 140px);
  overflow-y: scroll;
}
.job-description {
}

.job-qa {
  font-size: 12px;
}
.qa-row {
  width: 100%;
  position: relative;
  display: flex;
}
.qa-row .question {
  width: 70%;
  text-align: right;
  margin-right: 15px;
}
.qa-row .answer {
  width: 30%;
  word-wrap: break-word ;
}

.jd-control-board {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f8;
}


.highlight-skill {
  background-color: rgb(193, 219, 251);
}

.position-onsite {
  background-color: rgb(229, 140, 140);
}
.position-hybrid {
  background-color: rgb(255, 232, 100);
}
.position-remote {
  background-color: rgb(135, 244, 138);
}
