.panel-resume {
  line-height: 1.5em;
}

.resume-wrapper {
  padding: 10px 20px;
  height: calc(100vh - 125px);
  overflow-y: scroll;
}



.resume-metadata {

}
.resume-summary {
  font-size: 15px;
}




.skill-section-wrapper {

}
.skill-section {
  width: 100%;
  display: flex;
}
.skill-section-header {
  width: 200px;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}
.skill-section-content {
  flex: 1;
  font-size: 14px;
}



.resume-sentence-wrapper {

}
.resume-sentence {

}
.resume-sentence-content {
  font-size: 15px;
}

.resume-sentence-metadata {
}
.resume-sentence-score {
  color: #55a;
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 13px;
}
.resume-sentence-relation {
  color: #a55;
  margin-top: -5px;
  margin-bottom: 0px;
  font-size: 13px;
}


.resume-board {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f8;
}
