.ext-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: #000000aa;
    z-index: 2;
    padding-top: 5px;
}
.ext-shortcut-item {
    overflow: hidden;
    transition: all 0.3s;
    padding: 7px 0 7px 10px;
    cursor: pointer;
}
.ext-shortcut-item:hover {
    background-color: #00000022;
}
.ext-shortcut-item-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    color: #f0f0f0;
}
.ext-shortcut-item-content {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    color: #bbb;
    margin-top: -4px;
}