.range-container {
  width: 100%;
  height: 110px;
  display: flex;
}
.range-selector-wrapper {
  width: calc(100% - 350px);
  height: 110px;
  overflow: hidden;
}
.date-range-picker {
  padding-top: 30px;
  width: 350px;
}
.date-range-picker .MuiInputBase-input {
  padding: 10px 0 10px 10px;
}
