
.board-wrapper {
  transition: all 0.3s;
}
.job-info {
  flex: 2;
  padding-right: 30px;
  box-sizing: border-box;
  text-align: center;
  color: #555;
  font-size: 13px;
  vertical-align: top;
  display: flex;
}

.job-info-panel {
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 0 10px 10px 0;
}
.job-link {
  text-decoration: none;
  color: #555;
  margin-right: 30px;
}


.job-measure-panel {
  width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #dfdfdf;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recruiter {
  flex: 1;
  margin-top: 28px;
  box-sizing: border-box;
  text-align: left;
  color: #555;
  font-size: 13px;
  display: flex;
}
.criteria {
  flex: 1;
  color: #555;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  max-width: 25%;
  word-wrap: break-word;
}
.criteria p {
  margin: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recruiter-image {
  width: 90px;
}
.recruiter-info {
  padding: 5px;
  flex: 1;
}
.recruiter-name {
  font-size: 14px;
}

.requirement-field {
  padding-top: 10px;
  display: flex;
}
.requirement-chip {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  flex: 1;
  margin-bottom: 15px;
}
.requirement-chip > div {
  margin: 2px;
}
.requirement-familarity {
  width: 100%;
  text-align: center;
  font-size: 25px;
}
.requirement-familarity * {
  margin: 0;
}
.familarity-good {
  color: #366ec9;
}
.familarity-bad {
  color: #ff0000;
}


.circular-progress-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.job-many {
  color: #777;
}
.job-few {

}


.highlight-skill {
  background-color: rgb(193, 219, 251);
}

.position-onsite {
  background-color: rgb(229, 140, 140);
}
.position-hybrid {
  background-color: rgb(255, 232, 100);
}
.position-remote {
  background-color: rgb(135, 244, 138);
}


.drawer-wrapper {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.annotation-pad {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
}
.jd-pad {
  padding: 60px;
  flex: 1;
}
